### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file= "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_players=df.SN.nunique()
Total_players

576

In [3]:
## Purchasing Analysis (Total)

In [4]:
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

SyntaxError: invalid syntax (<ipython-input-4-af379fa3895b>, line 1)

In [5]:
summary_data_frame = pd.DataFrame({'Unique items':df['Item ID'].nunique(),
                'Average Price': df['Price'].mean(),
                'Number of Purchases':df['Purchase ID'].nunique(),
                'Total Revenue':df['Price'].sum()},index=[0])

summary_data_frame['Total Revenue']=summary_data_frame['Total Revenue'].map('${:,.2f}'.format)
summary_data_frame['Average Price']=summary_data_frame['Average Price'].map('${:,.2f}'.format)
summary_data_frame

   Unique items Average Price  Number of Purchases Total Revenue
0           183         $3.05                  780     $2,379.77

In [6]:
## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [8]:
GenderPercent=df.groupby('Gender')['SN'].nunique().to_frame()
GenderPercent['Percentages of Players']= (GenderPercent['SN']/Total_players).map('{:,.2%}'.format)
GenderPercent.rename(columns={'SN':'Total Count'},inplace=True)
GenderPercent

                       Total Count Percentages of Players
Gender
Female                          81                 14.06%
Male                           484                 84.03%
Other / Non-Disclosed           11                  1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
pd1_gender= df.groupby('Gender')['Price'].agg({'Purchase Count':'count','Average Purchase Price':'mean',
                                               'Total Purchase Value':'sum'})
pd1_gender['Avg Total Purchase per Person']=pd1_gender['Total Purchase Value']/GenderPercent['Total Count']

pd1_gender[['Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']]=pd1_gender[['Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']].applymap('${:,.2f}'.format)
                                                                                                          

pd1_gender

D:\Programs\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
df['Age'].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [35]:
labels=['<10','10 - 14','15 - 19','20 - 24','25 - 29','30 - 34','35 - 39','40+']
bin=[0,10,15,20,25,30,35,40,50]

In [36]:
# df.set_index(["Person", "Single"]).count(level="Person")
Ages = df.drop_duplicates('SN')
Age_demos=pd.cut(Ages['Age'],bins=bin,labels=labels,right=False).value_counts().to_frame()

Age_demos['Percentage of Players']= (Age_demos/Total_players)*100
Age_demos.rename(columns={'Age':'Total Count'},inplace=True)
Age_demos.sort_values(by=['Percentage of Players'])

         Total Count  Percentage of Players
40+               12               2.083333
<10               17               2.951389
10 - 14           22               3.819444
35 - 39           31               5.381944
30 - 34           52               9.027778
25 - 29           77              13.368056
15 - 19          107              18.576389
20 - 24          258              44.791667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
panalysis= df[['Age','Price']]
panalysis['Age Groups']= pd.cut(panalysis['Age'],bins=bin,labels=None, right=False).to_frame()
panalysis=panalysis.groupby('Age Groups')['Price'].agg({'Purchase Count':'count','Average Purchase Price':'mean',
                                               'Total Purchase Value':'sum'})
panalysis['Avg Total Purchase per Person']=panalysis['Total Purchase Value']/Total_players
panalysis[['Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']]=panalysis[['Average Purchase Price',
                                            'Total Purchase Value','Avg Total Purchase per Person']].applymap('${:,.2f}'.format)
panalysis

D:\Programs\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Programs\Anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
"[0, 10)",23,$3.35,$77.13,$0.13
"[10, 15)",28,$2.96,$82.78,$0.14
"[15, 20)",136,$3.04,$412.89,$0.72
"[20, 25)",365,$3.05,"$1,114.06",$1.93
"[25, 30)",101,$2.90,$293.00,$0.51
"[30, 35)",73,$2.93,$214.00,$0.37
"[35, 40)",41,$3.60,$147.67,$0.26
"[40, 50)",13,$2.94,$38.24,$0.07

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
df.head(2)

In [ ]:
Top_spender = df.groupby('SN')['Price'].agg({'Purchase Count':'count','Average Purchase Price':'mean',
                                               'Total Purchase Value':'sum'})
Top_spender[['Average Purchase Price','Total Purchase Value']]=Top_spender[['Average Purchase Price',
                                                                            'Total Purchase Value']].applymap('${:,.2f}'.format)
Top_spender.head(2)

In [ ]:
Top_spender=Top_spender.sort_values(by='Purchase Count',ascending=False)
Top_spender.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
df.head(2)

In [ ]:
MP_items= df[['Item ID','Item Name','Price']]
# MP_items.set_index(['Item ID','Item Name'])
val = MP_items.groupby(['Item ID','Item Name'])['Price'].agg({'Purchase Count':'count','Total Purchase Value':"sum"})
val['Item Price'] = val['Total Purchase Value']/val['Purchase Count']
val['Item Price']=val['Item Price'].map('${:,.2f}'.format)
val.sort_values(by='Purchase Count',ascending=False).head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# The Most protifable items were Items 178,82 $50.76 and $44.10 respectively. 
# The Top two spenders were Lisosia93	 and Idastidru52 with a total purchase of $18.96 and $15.45 respectively.